@model ControlCalidad.Models.Proyecto

@*  {
        ViewBag.Title = "Edit";

    }
*@



<h3 class="text-grey">Editar Proyecto</h3>
<div class="margin-b1">
    <hr />
</div>


<div id="btn-add" class="fixed-action-btn">
    <a href="@Url.Action("Details", "Project", new { id = 1
        })" class="btn-floating btn-large blue draken-3 turq-hover left tooltipped" data-position="left" data-tooltip="Volver">
        <i class="large material-icons">arrow_back</i>
    </a>
</div>

<div class="row container">
    <div class="">
        <div class="card hoverable">
            <nav>
                <div class="nav-wrapper blue draken-3">
                    <p class="col s4">Quality Expert S.A</p>
                </div>
            </nav>
            <div class="margin-b">

            </div>
            @using (Html.BeginForm("Create", "Project", FormMethod.Post, new
            {
                @onsubmit = "onSubmit()"
            }))
            {
                <div class="margin-b section">

                </div>

                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col s4">
                        <div class="row margin-b">
                            <div class="input-field col s11">
                                <i class="p-size text-grey material-icons prefix">assignment_ind</i>
                                <label for="nombre">Nombre del proyecto <span class="red-text">  *</span></label>
                                <input name="nombre" type="text" required class="validate form-control" onblur="validateProjectName()" onkeyup="validateProjectName()" id="projectName" />
                                <span class="text-error" id="nameError"></span>
                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s11">
                                <i class="p-size material-icons text-grey prefix">person</i>
                                <select name="cliente" required id="status">
                                    <option value="Inactivo">Roger Chacon</option>
                                    <option value="Activo">Juan Pedro</option>
                                    <option value="Finalizado">Miguel Jesus</option>
                                    <option value="Cancelado">Sergio Ortega</option>
                                </select>
                                <label for="clientId">Cliente del proyecto <span class="red-text">  *</span></label>
                                <span class="text-error" id="ClientError"></span>
                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s11">
                                <i class="p-size material-icons text-grey prefix">date_range</i>
                                <label for="fechaFin">Fecha de Finalización</label>
                                <input type="text" disabled class="datepickerDate datepicker" id="fechaFin" name="fechaFin" />
                                @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-error" })
                            </div>
                        </div>
                    </div>

                    <div class="col s4">
                        <div class="row margin-b">
                            <div class="input-field col s11">
                                <i class="p-size material-icons text-grey prefix">assignment</i>
                                @Html.LabelFor(model => model.objetivo, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.objetivo, new { htmlAttributes = new { @class = "validate" } })
                                @Html.ValidationMessageFor(model => model.objetivo, "", new { @class = "text-error" })
                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s11">
                                <i class="p-size material-icons text-grey prefix">person</i>
                                <select name="lider" required id="status">
                                    <option value="Inactivo">Sergio Ortega</option>
                                    <option value="Activo">Juan Pedro</option>
                                    <option value="Finalizado">Miguel Jesus</option>
                                    <option value="Cancelado">Sergio Ortega</option>
                                </select>
                                <label for="leader">Lider del proyecto</label>
                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s11">
                                <i class="p-size material-icons text-grey prefix">hourglass_empty</i>
                                <label for="duracionEstimada">Duración Estimada <span class="red-text">  *</span> </label>
                                <input name="duracionEstimada" type="number" required class="validate form-control" onblur="validateDuration()" onkeyup="validateDuration()" id="avrDuration" />
                                <span class="text-error" id="avrDurationError"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col s4">

                        <div class="row margin-b">
                            <div class="input-field col s11" data-target="dropdownCreate">
                                <i class="p-size material-icons text-grey prefix">info</i>
                                <select name="estado" required id="status">
                                    <option value="Inactivo">Inactivo</option>
                                    <option value="Activo">Activo</option>
                                    <option value="Finalizado">Finalizado</option>
                                    <option value="Cancelado">Cancelado</option>
                                </select>
                                <label for="status">Estado del proyecto <span class="red-text">  *</span></label>
                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s11">
                                <i class="p-size material-icons text-grey prefix">date_range</i>
                                <label for="fechaInicio">Fecha de Inicio <span class="red-text">  *</span></label>
                                <input type="text" class="datepickerDate datepicker validate form-control " id="fechaInicio" name="fechaInicio" required onchange="validateDateP()" onblur="validateDateP()" />
                                <span class="text-error" id="dateErrorMessage"></span>
                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s11">
                                <i class="p-size material-icons text-grey prefix">hourglass_full</i>
                                <input name="duracionReal" type="number" disabled class="validate form-control" id="realDuration" />

                            </div>
                        </div>
                    </div>
                </div>


                <div class="hide row container center" id="loading">
                    <div class="">
                        <i class="material-icons text-turq ">info_outline</i>
                    </div>
                    <div class="">
                        <p class="text-turq">
                            Creando... Por favor espere.
                        </p>
                    </div>

                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>

                <div class=" row container center hide " id="complete">
                    <div class="">
                        <i class="material-icons text-turq ">info_outline</i>
                    </div>
                    <div class="">
                        <p class="text-turq">
                            Se creó correctamente.
                        </p>
                    </div>
                </div>

                <div class="margin-required">
                    <p class="text-error">
                        Los campos con * son requeridos.
                    </p>
                </div>

                <div class="margin-b1">
                </div>

                <div class="row center">
                    <button id="btn-delete" type="reset" class="margin-r waves-effect red-hover btn red accent-4">Cancelar</button>

                    <button id="btn-submit" type="submit" class="margin-l btn waves-effect waves-light turq btn-login modal-trigger">Crear</button>

                </div>
                <div class="margin-b section">
                </div>
            }
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}
