@model IEnumerable<ControlCalidad.Models.Proyecto>


@*  {
        ViewBag.Title = "Index";
    }
*@

<h3 class="text-grey">Proyectos</h3>
<div class="margin-b1">
    <hr />
</div>
@{

    int? projectId = ViewBag.projectId;
    string clientId = ViewBag.clientId;

    <div id="btn-add" class="fixed-action-btn">
        <a href="@Url.Action("Create New", "Project/Create")" class="btn-floating btn-large black turq-hover tooltipped" data-position="left" data-tooltip="Agregar nuevo proyecto">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div class="card">
        <table class="table striped">
            <tr>
                <th class="center black white-text">
                    @Html.DisplayNameFor(model => model.nombre)
                </th>

                <th class="center black white-text">
                    @Html.DisplayNameFor(model => model.estado)
                </th>

                <th class="center black white-text">
                    @Html.DisplayName("Nombre Cliente")
                </th>
                <th class="center black white-text">
                    @Html.DisplayName("Acción")
                </th>
                <th class="center black white-text">
                    @Html.DisplayName("Requerimientos")
                </th>
                <th class="center black white-text">
                    @Html.DisplayName("Equipo")
                </th>
            </tr>

            @foreach (var item in Model)
            {

                if ((User.IsInRole("Tester") || User.IsInRole("Lider")) && projectId != null)
                {
                    if (item.idPK == projectId)
                    {
                        string clientName = item.Cliente.nombreP + " " + item.Cliente.apellido1;
                        <tr>
                            <td class="center">
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>

                            <td class="center">
                                @Html.DisplayFor(modelItem => item.estado)
                            </td>

                            <td class="center">
                                @Html.DisplayName(clientName)
                            </td>
                            <td class="center">

                                @Html.ActionLink("Detalles", "Details", new { id = item.idPK },
                          new { @class = "waves-effect waves-light btn black turq-hover" }
                          )
                            </td>

                            <td class="center">
                                @Html.ActionLink("Ver Requerimientos", "../Requirement/Index", new { projectId = item.idPK },
                              new { @class = "waves-effect waves-light btn black turq-hover" }
                              )
                            </td>
                            <td class="center">
                                @Html.ActionLink("Ver Equipo", "../Team/Edit", new { id_proyecto = item.idPK },
                          new { @class = "waves-effect waves-light btn black turq-hover" }
                          )
                            </td>
                        </tr>

                    }
                }
                else
                {
                    if (User.IsInRole("Cliente"))
                    {

                        if (item.Cliente.cedulaPK == clientId)
                        {
                            string clientName = item.Cliente.nombreP + " " + item.Cliente.apellido1;
                            <tr>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.nombre)
                                </td>

                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.estado)
                                </td>

                                <td class="center">
                                    @Html.DisplayName(clientName)
                                </td>
                                <td class="center">

                                    @Html.ActionLink("Detalles", "Details", new { id = item.idPK },
                              new { @class = "waves-effect waves-light btn black turq-hover" }
                              )
                                </td>

                                <td class="center">
                                    @Html.ActionLink("Ver Requerimientos", "../Requirement/Index", new { projectId = item.idPK },
                               new { @class = "waves-effect waves-light btn black turq-hover" }
                               )
                                </td>

                                <td class="center">
                                    @Html.ActionLink("Ver Equipo", "../Team/Edit", new { id_proyecto = item.idPK },
                               new { @class = "waves-effect waves-light btn black turq-hover" }
                               )
                                </td>
                            </tr>
                        }

                    }
                    else
                    {

                        string clientName = item.Cliente.nombreP + " " + item.Cliente.apellido1;
                        <tr>
                            <td class="center">
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>

                            <td class="center">
                                @Html.DisplayFor(modelItem => item.estado)
                            </td>

                            <td class="center">
                                @Html.DisplayName(clientName)
                            </td>
                            <td class="center">

                                @Html.ActionLink("Detalles", "Details", new { id = item.idPK },
                             new { @class = "waves-effect waves-light btn black turq-hover" }
                             )
                            </td>

                            <td class="center">
                                @Html.ActionLink("Ver Requerimientos", "../Requirement/Index", new { projectId = item.idPK },
                              new { @class = "waves-effect waves-light btn black turq-hover" }
                              )
                            </td>

                            <td class="center">
                                @Html.ActionLink("Ver Equipo", "../Team/Edit", new { id_proyecto = item.idPK },
                              new { @class = "waves-effect waves-light btn black turq-hover" }
                              )
                            </td>
                        </tr>
                    }



                }
            }

        </table>

    </div>
}

@{

    if( User.IsInRole( "Lider" ) || User.IsInRole( "Tester" ) || User.IsInRole( "Cliente" ) )
    {
        <script>
            document.getElementById("btn-add").classList.add("hide");
        </script>
    }
}
