@model IEnumerable<ControlCalidad.Models.Proyecto>


@*  {
        ViewBag.Title = "Index";
    }
*@

<h3 class="text-grey">Proyectos</h3>
<div class="margin-b1">
    <hr />
</div>
@{

    int? projectId = 1;
    string clientId = "1";

    <div id="btn-add" class="fixed-action-btn">
        <a href="@Url.Action("Create New", "Project/Create")" class="btn-floating btn-large blue draken-3 turq-hover tooltipped" data-position="left" data-tooltip="Agregar nuevo proyecto">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div class="card">
        <table class="table striped">
            <tr>
                <th class="center blue draken-3 white-text">
                    @Html.DisplayNameFor(model => model.nombre)
                </th>

                <th class="center blue draken-3 white-text">
                    @Html.DisplayNameFor(model => model.estado)
                </th>

                <th class="center blue draken-3 white-text">
                    @Html.DisplayName("Nombre Cliente")
                </th>
                <th class="center blue draken-3 white-text">
                    @Html.DisplayName("Acción")
                </th>
                <th class="center blue draken-3 white-text">
                    @Html.DisplayName("Requerimientos")
                </th>
             
            </tr>


               
                        <tr>
                            <td class="center">
                                Proyecto 1
                            </td>

                            <td class="center">
                                En Progreso
                            </td>

                            <td class="center">
                                Roger Chacon
                            </td>
                            <td class="center">

                                @Html.ActionLink("Detalles", "Details", new { id = projectId },
                          new { @class = "waves-effect waves-light btn blue draken-3 turq-hover" }
                          )
                            </td>

                            <td class="center">
                                @Html.ActionLink("Ver Requerimientos", "../Requirement/Index", new { projectId = projectId },
                              new { @class = "waves-effect waves-light btn blue draken-3 turq-hover" }
                              )
                            </td>
                        
                        </tr>

                


                
            

        </table>

    </div>
}

