@model ControlCalidad.Models.Empleado

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Esta seguro que quiere borrar este empleado?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayName("Roger")
        </dd>

        <dt>
            @Html.DisplayName("Primer Apellido")
        </dt>

        <dd>
            @Html.DisplayName("Chacon")
        </dd>

        <dt>
            @Html.DisplayName("Segundo Apellido")
        </dt>

        <dd>
            @Html.DisplayName("Quintero")
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Nacimiento")
        </dt>

        <dd>
            @Html.DisplayName("12/12/1999")
        </dd>

        <dt>
            @Html.DisplayName("Edad")
        </dt>

        <dd>
            @Html.DisplayName("20")
        </dd>

        <dt>
            @Html.DisplayName("Telefono")
        </dt>

        <dd>
            @Html.DisplayName("8746934")
        </dd>

        <dt>
            @Html.DisplayName("Correo")
        </dt>

        <dd>
            @Html.DisplayName("royerchq2014@gmail.com")
        </dd>

        <dt>
            @Html.DisplayName("Provincia")
        </dt>

        <dd>
            @Html.DisplayName("Alajuela")
        </dd>

        <dt>
            @Html.DisplayName("Canton")
        </dt>

        <dd>
            @Html.DisplayName("Atenas")
        </dd>

        <dt>
            @Html.DisplayName("Distrito")
        </dt>

        <dd>
            @Html.DisplayName("Atenas")
        </dd>

        <dt>
            @Html.DisplayName("Direccion Exacta")
        </dt>

        <dd>
            @Html.DisplayName("Atenas, Alajuela")
        </dd>

        <dt>
            @Html.DisplayName("Disponibilidad")
        </dt>

        <dd>
            @Html.DisplayName("Disponible")
        </dd>

        <dt>
            @Html.DisplayName("Cedula")
        </dt>

        <dd>
            @Html.DisplayName("112341234")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
