@model ControlCalidad.Models.Empleado

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccionExacta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionExacta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponibilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponibilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tester.cedula_empleadoFk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tester.cedula_empleadoFk)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
