@model ControlCalidad.Models.Empleado

@*{
        ViewBag.Title = "Details";
    }*@
@{

    string dateOfBirth = ViewBag.dateOfBirth;

    <h3 class="text-grey">Detalles de Empleado</h3>

    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card hoverable">
                <nav>
                    <div class="nav-wrapper blue draken-3">
                        <p class="col s4">Quality Expert S.A</p>
                    </div>
                </nav>
                <div class="card-content black-text">
                    <div class="row">
                        <div class="col s6">
                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">description</i>
                                    <span class="text-turq"> Nombre de empleado </span>
                                    : @Html.DisplayName("Roger")
                                </p>
                            </div>

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">description</i>
                                    <span class="text-turq"> Primer apellido  </span>
                                    : @Html.DisplayName("Chacon")
                                </p>
                            </div>

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">person</i>
                                    <span class="text-turq"> Segundo apellido  </span>
                                    : @Html.DisplayName("Quintero")
                                </p>
                            </div>

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">perm_identity</i>
                                    <span class="text-turq"> Cédula  </span>
                                    : @Html.DisplayName("112341234")
                                </p>
                            </div>

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">person</i>
                                    <span class="text-turq">Fecha de nacimiento  </span>
                                    : @Html.DisplayName("12/12/1999")
                                </p>
                            </div>

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">person</i>
                                    <span class="text-turq"> Edad  </span>
                                    : @Html.DisplayName("20")
                                </p>
                            </div>

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">call</i>
                                    <span class="text-turq"> Telefono  </span>
                                    : @Html.DisplayName("8746934")
                                </p>
                            </div>

                        </div>

                        <div class="col s6">

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">person</i>
                                    <span class="text-turq"> Disponibilidad </span>
                                    : @Html.DisplayName("Disponible")
                                </p>
                            </div>

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">mail</i>
                                    <span class="text-turq"> Correo </span>
                                    : @Html.DisplayName("royerchq2014@gmail.com")
                                </p>
                            </div>

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">place</i>
                                    <span class="text-turq"> Provincia  </span>
                                    : @Html.DisplayName("Alajuela")
                                </p>
                            </div>

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">place</i>
                                    <span class="text-turq"> Canton  </span>
                                    : @Html.DisplayName("Atenas")
                                </p>
                            </div>

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">place</i>
                                    <span class="text-turq"> Distrito  </span>
                                    : @Html.DisplayName("Atenas")
                                </p>
                            </div>

                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">place</i>
                                    <span class="text-turq"> Direccion exacta  </span>
                                    : @Html.DisplayName("Atenas, Alajuela")
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="card-action center">
                    <a id="delete-btn" class="margin-r waves-effect btn red accent-4 red-hover modal-trigger" href="#modal1">Borrar</a>
                    @Html.ActionLink("Editar", "Edit", new { id = 1 }, new
                    {
                   @class = " margin-l waves-effect waves-light btn turq",
                        @id = "edit-btn"
               })
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a href="@Url.Action( "Index" , "Employee/Index" )" class="btn-floating btn-large black turq-hover left">
            <i class="large material-icons">arrow_back</i>
        </a>
    </div>

}




<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="row">
        <div class="">
            <nav>
                <div class="nav-wrapper blue draken-3">
                    <p class="col s4 offset-s5">Quality Expert S.A</p>
                </div>
            </nav>
        </div>
    </div>

    <div class="modal-content ">
        <div class="row">
            <div class="col s2">
                <i class="material-icons medium red-text text-darken-4">warning</i>
            </div>
            <div class="s8">
                <h5>Está seguro que desea <span class="red-text text-darken-4 "> borrar </span> al empleado Roger Chacon ?</h5>
            </div>
        </div>

        <div class="margin-b1">
            <hr />
        </div>
        <div class="modal-footer">

            @Html.ActionLink("Aceptar", "RemoveEmployee", null, new { employeeId = 1 }, new { @class = "waves-effect red-hover btn red accent-4" })
            <a class="modal-close btn waves-effect waves-light turq white-text">Cancelar</a>
        </div>
    </div>
</div>

@{

    if (User.IsInRole("Lider") || User.IsInRole("Cliente"))
    {
        <script>
            document.getElementById("delete-btn").classList.add("hide");
            document.getElementById("edit-btn").classList.add("hide");
        </script>
    }
}
