
@{
    ViewBag.Title = "Index";
}

@{

        <h3 class="text-black-50">Empleados</h3>


        <div class="fixed-action-btn">
            <a id="add-btn" href="@Url.Action("Create New", "Employee/Create")" class="btn-floating btn-large blue draken-3 red-hover">
                <i class="large material-icons">add</i>
            </a>
        </div>


        <div class="card">

            <table class="highlight">
                <tr>
                    <th class="center blue draken-3 white-text">
                        @Html.DisplayName( "Nombre" )
                    </th>
                    <th class="center blue draken-3 white-text">
                        @Html.DisplayName( "Apellido" )
                    </th>
                    <th class="center blue draken-3 white-text">
                        @Html.DisplayName( "Telefono" )
                    </th>
                    <th class="center blue draken-3 white-text">
                        @Html.DisplayName( "Correo" )
                    </th>
                    <th class="center blue draken-3 white-text">
                        @Html.DisplayName( "Direccion exacta" )
                    </th>
                    <th class="center blue draken-3 white-text">
                        @Html.DisplayName( "Disponibilidad" )
                    </th>
                    <th class="center blue draken-3 white-text">
                        @Html.DisplayName( "Accion" )
                    </th>
                    <thth class="center black white-text"></thth>
                </tr>


                    <tr>
                        <td class="center">
                           g
                        </td>
                        <td class="center">
                          g
                        </td>

                        <td class="center">
                           g
                        </td>
                        <td class="center">
                            g
                        </td>
                        <td class="center">
                           g
                        </td>
                        <td class="center">
                            g
                        </td>
                        <td class="center">
                            @*Html.ActionLink("Edit", "Edit", new { id = item.cedulaPK }) |*@
                            @Html.ActionLink("Detalles", "Details", new { }, new { @class = "waves-effect waves-light btn-small blue draken-3 turq-hover" })
                            @*Html.ActionLink("Delete", "Delete", new { id = item.cedulaPK }) |*@
                            @Html.ActionLink("Habilidades", "../Habilities/Index", new {  }, new { @class = "waves-effect waves-light btn-small blue draken-3 turq-hover" })
                        </td>
                    </tr>
                

            </table>

        </div>

 

}
