@model ControlCalidad.Models.Tester

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tester</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidadReqAsignados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadReqAsignados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.nombreP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.nombreP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cedula_empleadoFk }) |
    @Html.ActionLink("Back to List", "Index")
</p>
