@model ControlCalidad.Models.Requerimiento

@{
    ViewBag.Title = "Create";
    List<SelectListItem> testerId = ( List<SelectListItem> ) ViewBag.testers;

    if( User.IsInRole( "Jefe" ) || User.IsInRole( "Lider" ) )
    {



        <h3 class="text-grey">Crear nuevo Requerimiento</h3>
        <div class="margin-b1">
            <hr />
        </div>

        <div class="row container">
            <div class="">
                <div class="card hoverable">
                    <nav>
                        <div class="nav-wrapper black">
                            <p class="col s4">Quality Expert S.A</p>
                        </div>
                    </nav>
                    <div class="margin-b">

                    </div>

                    @using( Html.BeginForm( "Create" , "Requirement" , FormMethod.Post , new {
                        @onsubmit = "onSubmit()"
                    } ) )
                    {
                        @Html.AntiForgeryToken( )

                        @Html.ValidationSummary( true , "" , new {
                       @class = "text-danger"
                   } )
                        @Html.Hidden( "idTester" , "" , new {
                       @id = "idTester"
                   } )
                        <div class="form-group hide">
                            <div class="col-md-10">
                                <input value="@ViewBag.projectId" name="id_proyectoFK" type="text" required class="validate form-control" onblur="" onkeyup="" id="projectId" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s4">
                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size text-grey material-icons prefix">assignment_turned_in</i>
                                        <label for="nombre">Nombre del requerimiento <span class="red-text">  *</span></label>
                                        <input name="nombre" type="text" required class="validate form-control" onblur="validateRequirementName(@ViewBag.projectId)" onkeyup="validateRequirementName(@ViewBag.projectId)" id="requirementName" />
                                        <span class="text-error" id="nameError"></span>
                                    </div>
                                </div>


                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">date_range</i>
                                        <label for="fechaFinalizacion">Fecha de Finalización</label>
                                        <input type="text" disabled class="datepickerDate datepicker" id="fechaFinalizacion" name="fechaFinalizacion" onchange="validateEndAssignDate('fechaFinalizacion', 'endDateError')" />
                                        <span class="text-error" id="endDateError"></span>
                                    </div>
                                </div>

                                <div class="row margin-b">
                                    <div class="input-field col s11" data-target="dropdownCreate">
                                        <i class="p-size material-icons text-grey prefix">info_outline</i>
                                        <select name="complejidad" required id="complejidad">
                                            <option value="" disabled selected>Seleccione una complejidad</option>
                                            <option value="Facil">Facil</option>
                                            <option value="Mediano">Mediano</option>
                                            <option value="Complejo">Complejo</option>
                                            <option value="Muy complejo">Muy complejo</option>

                                        </select>
                                        <label for="complejidad">Complejidad del Requerimiento <span class="red-text">  *</span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col s4">
                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">date_range</i>
                                        <label for="fechaInicio">Fecha de Inicio <span class="red-text">  *</span></label>
                                        <input type="text" class="datepickerDate datepicker" required id="fechaInicio" name="fechaInicio" onchange="validateDate()" onblur="validateDate()" />
                                        <span class="text-error" id="dateErrorMessage"></span>
                                    </div>
                                </div>
                                @**@
                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">person</i>
                                        @Html.DropDownList( "testers" , testerId , "Seleccione un tester" , new {
                                       @onchange = "setIdTester()" ,
                                       @id = "dropdown"
                                   } )
                                        <label for="testerId"> Tester asignado</label>
                                        <span class="text-error" id="testerError"></span>
                                    </div>
                                </div>
                                @**@
                                @*
                                    <div class="row margin-b">
                                        <div class="input-field col s11">
                                            <i class="p-size material-icons text-grey prefix">person</i>
                                            <input class ="modal-trigger" name="testerId" type="text" id="testerId" onclick="openModal()" />
                                            <label for="testerId">Tester asignado </label>
                                        </div>
                                    </div>

                                    <div id="modal1" class="modal modal-fixed-footer">
                                        <div class="modal-content">
                                            <div class="">
                                                <form action="Edit">
                                                    <i class="material-icons fixed">search</i>
                                                    <input type="text" id="ability" placeholder="Buscar por habilidades" style="width: 50%;">
                                                    <button type="submit" onclick="getAbility()" class="btn btn-default" name="Search" value="Search" title="Search">Buscar</button>
                                                </form>
                                                <div class="card">
                                                    <div class="card-content">
                                                        <div class="table-responsive collection">
                                                            <table class="table striped">
                                                                <tr>
                                                                    <th class="center black white-text" style="width: 300%;">
                                                                        @Html.DisplayName("Testers disponibles")
                                                                    </th>
                                                                </tr>
                                                            </table>
                                                            <table>

                                                                <tbody>
                                                                    @foreach (var tester in testerId)
                                                                    {
                                                                        <a class="collection-item">@tester.Text</a>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="row center">
                                                        <button type="submit" name="Allocate" value="Allocate" class="margin-l btn waves-effect waves-light turq white-text">Asignar</button>
                                                    </div>
                                                    <div class="margin-b section">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                *@
                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">hourglass_empty</i>
                                        <label for="duracionEstimada">Duración Estimada <span class="red-text">  *</span> </label>
                                        <input name="duracionEstimada" type="number" required class="validate form-control" onblur="validateDuration()" onkeyup="validateDuration()" id="avrDuration" />
                                        <span class="text-error" id="avrDurationError"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col s4">
                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">date_range</i>
                                        <label for="fechaAsignacion">Fecha de Asignación</label>
                                        <input type="text" class="datepicker datepickerDate" id="fechaAsignacion" name="fechaAsignacion" onchange="validateEndAssignDate('fechaAsignacion', 'assigndateError')" />
                                        <span class="text-error" id="assigndateError"></span>
                                    </div>
                                </div>



                                <div class="row margin-b">
                                    <div class="input-field col s11" data-target="dropdownCreate">
                                        <i class="p-size material-icons text-grey prefix">info_outline</i>
                                        <select name="estado" required id="estado">
                                            <option value="" disabled selected>Seleccione un estado</option>
                                            <option value="No iniciado">No iniciado</option>
                                            <option value="En ejecución">En ejecución</option>
                                            <option value="Finalizado Exitoso">Finalizado Exitoso</option>
                                            <option value="Finalizado Fallido">Finalizado Fallido</option>
                                            <option value="Cancelado">Cancelado</option>
                                        </select>
                                        <label for="estado">Estado del Requerimiento <span class="red-text">  *</span></label>
                                    </div>
                                </div>
                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">hourglass_full</i>
                                        <label for="duracionReal">Duración Real  </label>
                                        <input name="duracionReal" type="number" disabled class="validate form-control" onblur="validateRealDuration()" onkeyup="validateRealDuration()" id="RealDur" />
                                        <span class="text-error" id="realDurError"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s10 offset-s1">
                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">assignment</i>
                                        @Html.LabelFor( model => model.descripcion , htmlAttributes: new {
                                       @class = "control-label col-md-2"
                                   } )
                                        @Html.EditorFor( model => model.descripcion , new {
                                       htmlAttributes = new {
                                           @class = "validate"
                                       }
                                   } )
                                        @Html.ValidationMessageFor( model => model.descripcion , "" , new {
                                       @class = "text-error"
                                   } )
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="hide row container center" id="loading">
                            <div class="">
                                <i class="material-icons text-turq ">info_outline</i>
                            </div>
                            <div class="">
                                <p class="text-turq">
                                    Creando... Por favor espere.
                                </p>
                            </div>

                            <div class="progress">
                                <div class="indeterminate"></div>
                            </div>
                        </div>

                        <div class=" row container center hide " id="complete">
                            <div class="">
                                <i class="material-icons text-turq ">info_outline</i>
                            </div>
                            <div class="">
                                <p class="text-turq">
                                    Se creó correctamente.
                                </p>
                            </div>
                        </div>

                        <div class="margin-required">
                            <p class="text-error">
                                Los campos con * son requeridos.
                            </p>
                        </div>

                        <div class="margin-b1">
                        </div>

                        <div class="row center">
                            <button id="btn-delete" type="reset" class="margin-r waves-effect red-hover btn red accent-4">Cancelar</button>

                            <button id="btn-submit" type="submit" class="margin-l btn waves-effect waves-light turq btn-login modal-trigger">Crear</button>

                        </div>
                        <div class="margin-b section">
                        </div>

                    }
                </div>
            </div>
        </div>

        <div id="btn-add" class="fixed-action-btn">
            <a href="@Url.Action( "Index" , "Requirement/Index" , new {
                projectId = ViewBag.projectId
            } )" class="btn-floating btn-large black turq-hover left tooltipped" data-position="left" data-tooltip="Volver">
                <i class="large material-icons">arrow_back</i>
            </a>
        </div>
    }
    else
    {

        <div class="row container center top-m-block">
            <div class="card hoverable s10 section">
                <h3>Lo sentimos.<br />No tienes acceso a esta sección</h3>
                <i class="large material-icons red-text">block</i>
            </div>
        </div>
    }
}

<script>

    /*
     * Function that extracts the ID if you add a new member, actuated by selecting a member in the table
     * Parameters: id, represents the ID of the selected employee
     * Return: None
     * */

    function setIdTester() {
        $('#idTester').val($('#dropdown').val());
    }


    function openModal() {
        $('#modal1').modal('open');
    }
</script>

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}
