@model IEnumerable<ControlCalidad.Models.TrabajaEn>

@{
    ViewBag.Title = "Index";
}

@{
    if (User.IsInRole("Lider"))
    {

        <h2>Tu equipo</h2>

        <p>
            @Html.ActionLink("Create Team", "Create", new { email = User.Identity.Name })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.rol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empleado.nombreP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proyecto.nombre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.rol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empleado.nombreP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proyecto.nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id_proyecto = item.id_proyectoFK }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
                <div class="fixed-action-btn">
                    <a href="@Url.Action("Edit", "Team/Edit", new { id_proyecto = item.id_proyectoFK })" class="btn-floating btn-large turq">
                        <i class="large material-icons">edit</i>
                    </a>
                </div>
            }
        </table>
    }
}