@model IEnumerable<ControlCalidad.Models.TrabajaEn>

@{
    ViewBag.Title = "Index";
}

@{
   

        <h2>Tu equipo</h2>

        <p>
            @Html.ActionLink("Create Team", "Create", new { email = "royerchq@gmail.com" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.rol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empleado.nombreP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proyecto.nombre)
                </th>
                <th></th>
            </tr>

           
                <tr>
                    <td>
                        Jefe
                    </td>
                    <td>
                       Roger Chacon
                    </td>
                    <td>
                        Proyecto Admin
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id_proyecto = 1 }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
                <div class="fixed-action-btn">
                    <a href="@Url.Action("Edit", "Team/Edit", new { id_proyecto = 1 })" class="btn-floating btn-large turq">
                        <i class="large material-icons">edit</i>
                    </a>
                </div>
            
        </table>
    
}