@model ControlCalidad.Models.Cliente

@{
    ViewBag.Title = "Edit";
    List<SelectListItem> provinces = (List<SelectListItem>)ViewBag.provinces;
}

@{

    if (User.IsInRole("Jefe"))
    {
        <h3 class="text-grey">Editar Cliente</h3>
        <div class="margin-b1">
            <hr />
        </div>

        <div class="row container ">
            <div class="col s12">
                <div class="card hoverable">

                    <nav>
                        <div class="nav-wrapper black">
                            <p class="col s4">Quality Expert S.A</p>
                        </div>
                    </nav>

                    <div class="margin-b section">

                    </div>

                    @using (Html.BeginForm("Edit", "Client", FormMethod.Post, new
                    {
                        @onsubmit = "onSubmit()"
                    }))
                    {
                        @Html.AntiForgeryToken();
                        @Html.ValidationSummary(true, "errorR", new { @class = "text-error" })

                        <div class="row">
                            <div class="col s4">

                                <div class="row margin-b">
                                    <div class="input-field col s10 offset-s1 ">
                                        <i class="text-grey material-icons prefix">account_circle</i>
                                        <label for="cedula">Cédula<span class="red-text">*</span></label>
                                        @Html.EditorFor(model => model.cedulaPK, new { htmlAttributes = new { @class = "form-control", @id = "idClient", @onkeydown = "validateIdClient(this)", @onkeyup = "validateIdClient(this)" } })
                                        @Html.ValidationMessageFor(m => m.cedulaPK, null, new { @class = "text-error" })
                                        <span class="text-error" id="idClientError"></span>
                                    </div>
                                </div>


                                <div class="row margin-b">
                                    <div class="input-field col s10 offset-s1">
                                        <i class="p-size text-grey material-icons prefix">account_circle</i>
                                        <label for="apellido2">Segundo Apellido <span class="red-text">  *</span>  </label>
                                        @Html.EditorFor(model => model.apellido2, new { htmlAttributes = new { @class = "form-control", @id = "secondSurnameClient", @onkeydown = "validateSecondSurnameClient(this)", @onkeyup = "validateSecondSurnameClient(this)" } })
                                        @Html.ValidationMessageFor(m => m.apellido2, null, new { @class = "text-error" })
                                        <span class="text-error" id="secondSurnameClientError"></span>
                                    </div>
                                </div>


                                <div class="row margin-b">
                                    <div class="input-field col s10 offset-s1">
                                        <i class="text-grey material-icons prefix">place</i>
                                        <select id="provincia" name="provincia">

                                                <option value="@Model.provincia">@Model.provincia</option>
                                            </select>
                                            <label for="provincia">Provincia</label>
                                        @*@Html.DropDownListFor(model => model.provincia, new SelectList(" "), new { @class = "form-control", @id = "provincia" })*@
                                    </div>
                                </div>

                            </div>

                            <div class="col s4">
                                <div class="row margin-b">
                                    <div class="input-field col s10 offset-s1">
                                        <i class="p-size text-grey material-icons prefix">account_circle</i>
                                        <label for="nombreP">Nombre <span class="red-text">  *</span>  </label>
                                        @Html.EditorFor(model => model.nombreP, new { htmlAttributes = new { @class = "form-control", @id = "nameClient", @onkeydown = "validateNameClient(this)", @onkeyup = "validateNameClient(this)" } })
                                        @Html.ValidationMessageFor(m => m.nombreP, null, new { @class = "text-error" })
                                        <span class="text-error" id="nameClientError"></span>
                                    </div>
                                </div>

                                <div class="row margin-b">
                                    <div class="input-field col s10 offset-s1">
                                        <i class="text-grey material-icons prefix">phone</i>
                                        @Html.LabelFor(m => m.telefono, "Telefono", new { @class = "" })
                                        @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", @onkeydown = "validateClientPhoneNumber(this)", @onkeyup = "validateClientPhoneNumber(this)" } })
                                        @Html.ValidationMessageFor(m => m.telefono, null, new { @class = "text-error" })
                                        <span class="text-error" id="clientPhoneError"></span>
                                    </div>
                                </div>

                                <div class="row margin-b">
                                    <div class="input-field col s10 offset-s1">
                                        <i class="text-grey material-icons prefix">place</i>
                                        <select id="canton" name="canton">

                                                <option value="@Model.canton">@Model.canton</option>
                                            </select>
                                            <label for="canton">Cantón</label>
                                        @*@Html.DropDownListFor(model => model.canton, new SelectList(" "), new { @class = "form-control", @id = "canton" })*@
                                    </div>
                                </div>
                            </div>

                            <div class="col s4">

                                <div class="row margin-b">
                                    <div class="input-field col s10 offset-s1">
                                        <i class="p-size text-grey material-icons prefix">account_circle</i>
                                        <label for="apellido1">Primer Apellido <span class="red-text">  *</span>  </label>
                                        @Html.EditorFor(model => model.apellido1, new { htmlAttributes = new { @class = "form-control", @id = "surnameClient", @onkeydown = "validateSurnameClient(this)", @onkeyup = "validateSurnameClient(this)" } })
                                        @Html.ValidationMessageFor(m => m.apellido1, null, new { @class = "text-error" })
                                        <span class="text-error" id="surnameClientError"></span>
                                    </div>
                                </div>

                                <div class="row margin-b">
                                    <div class="input-field col s10 offset-s1">
                                        <i class="p-size text-grey material-icons prefix">mail</i>
                                        <label for="correo">Correo <span class="red-text">  *</span>  </label>
                                        @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @id = "clientEmail", @onkeydown = "validateClientEmail(this)", @onkeyup = "validateClientEmail(this)" } })
                                        @Html.ValidationMessageFor(m => m.correo, null, new { @class = "text-error" })
                                        <span class="text-error" id="clientEmailError"></span>
                                    </div>
                                </div>

                                <div class="row margin-b">
                                    <div class="input-field col s10 offset-s1">
                                        <i class="text-grey material-icons prefix">place</i>
                                        <select id="distrito" name="distrito">

                                                <option value="@Model.distrito">@Model.distrito</option>
                                            </select>
                                            <label for="distrito">Distrito</label>
                                        @*@Html.DropDownListFor(model => model.distrito, new SelectList(" "), new { @class = "form-control", @id = "distrito" })*@
                                    </div>
                                </div>



                            </div>

                            <div class="row margin-b">
                                <div class="input-field col s10 offset-s1">
                                    <i class="p-size text-grey material-icons prefix">place</i>
                                    @Html.LabelFor(model => model.direccionExacta, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.direccionExacta, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.direccionExacta, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div class="hide row container center" id="loading">
                            <div class="">
                                <i class="material-icons text-turq ">info_outline</i>
                            </div>
                            <div class="">
                                <p class="text-turq">
                                    Editando... Por favor espere.
                                </p>
                            </div>
                            <div class="progress">
                                <div class="indeterminate"></div>
                            </div>
                        </div>

                        <div class=" row container center hide " id="complete">
                            <div class="">
                                <i class="material-icons text-turq ">info_outline</i>
                            </div>
                            <div class="">
                                <p class="text-turq">
                                    Se editó correctamente.
                                </p>
                            </div>
                        </div>

                        <div class="margin-required">
                            <p class="text-error">
                                Los campos con * son requeridos.
                            </p>
                        </div>

                        <div class="margin-b1">
                        </div>

                        <div class="row center">

                            <button id="btn-delete" type="reset" class="margin-r waves-effect red-hover btn red accent-4">Cancelar</button>

                            <button type="submit" id="btn-submit" class="btn waves-effect waves-light turq btn-login modal-trigger">Aceptar</button>

                        </div>

                        <div class="margin-b section">

                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a href="@Url.Action( "Index" , "Client/Index" )" class="btn-floating btn-large black turq-hover left">
                <i class="large material-icons">arrow_back</i>
            </a>
        </div>
    }
    else
    {
        <div class="row container center top-m-block">

            <div class="card hoverable s10 section">

                <h3>Lo sentimos.<br />Debes iniciar sesión como <span class="red-text"> jefe </span> para editar un cliente.</h3>
                <i class="large material-icons red-text">block</i>

            </div>
        </div>
    }

}




@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materializeD")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>

            $(document).ready(function () {
                
                    var provinceID = -1;
                    var cantonID  = -1;
                    $.get("/localizations/provinceEditList", { provincia: $("#provincia").val() }, function (data) {
                        $.each(data, function (index, row) {
                            $("#provincia").append("<option value='" + row.codigoPK + "'>" + row.nombre + "</option>")
                        });
                        $('select').formSelect();
                    });

                    $.get("/localizations/provinceID", { name: '@Model.provincia' }, function (data) {
                            provinceID = data;
                            $.get("/localizations/cantonesList", { provincia: data }, function (data2) {
                                $.each(data2, function (index, row) {
                                    $("#canton").append("<option value='" + row.codigoPK + "'>" + row.nombre + "</option>")
                                });
                                $('select').formSelect();
                            });
                    });

                    $.get("/localizations/cantonID", { name: '@Model.provincia', canton: '@Model.canton' }, function (data3) {
                        cantonID = data3;
                        $.get("/localizations/districtsList", { provincia: provinceID, canton : cantonID }, function (data4) {
                                $.each(data4, function (index, row) {
                                    $("#distrito").append("<option value='" + row.codigoPK + "'>" + row.nombre + "</option>")
                                });
                                $('select').formSelect();
                        });
                    });
                
            });
    </script>
    <script>

        $(document).ready(function () {
            $("#provincia").change(function () {
                $.get("/localizations/cantonesList", { provincia: $("#provincia").val() }, function (data) {
                    $('#canton').children().remove().end()
                    $.each(data, function (index, row) {
                        $("#canton").append("<option value='" + row.codigoPK + "'>" + row.nombre + "</option>")
                    });
                    $('select').formSelect();
                    $.get("/localizations/districtsList", { provincia: $("#provincia").val(), canton: $("#canton").val() }, function (data) {
                        $('#distrito').children().remove().end()
                        $.each(data, function (index, row) {
                            $("#distrito").append("<option value='" + row.codigoPK + "'>" + row.nombre + "</option>")
                        });
                        $('select').formSelect();
                    });
                });
            })
        });
    </script>
    <script>

        $(document).ready(function () {
            $("#canton").change(function () {
                $.get("/localizations/districtsList", { provincia: $("#provincia").val(), canton: $("#canton").val() }, function (data) {
                    $('#distrito').children().remove().end()
                    $.each(data, function (index, row) {
                        $("#distrito").append("<option value='" + row.codigoPK + "'>" + row.nombre + "</option>")
                    });
                    $('select').formSelect();
                });
            })
        });
    </script>

}