@model ControlCalidad.Models.Prueba

@*{
        ViewBag.Title = "Details";
    }*@

@{
    <h3 class="text-grey">Detalles de la prueba</h3>
    <div class="margin-b1">
        <hr />
    </div>

    <div class="row">

        <div class="col s12">
            <div class="card hoverable">
                <nav>
                    <div class="nav-wrapper black">
                        <p class="col s4">Quality Expert S.A</p>
                    </div>
                </nav>
                <div class="card-content black-text">
                    <div class="row">
                        <div class="col s6">
                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">assignment_ind</i>
                                    <span class="text-turq"> Nombre </span>
                                    : @Html.DisplayFor(model => model.nombre)
                                </p>
                            </div>
                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">border_color</i>
                                    <span class="text-turq"> Detalle de resultado </span>
                                    : @Html.DisplayFor(model => model.detalleResultado)
                                </p>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="col s12 margin-b1">
                                <p class="p-size">
                                    <i class="material-icons left text-grey">info</i>
                                    <span class="text-turq"> Resultado Final </span>
                                    : @Html.DisplayFor(model => model.resultadoFinal)
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="card-action center" id="testDetailsOpts">
                    <a id="delete-btn" class="margin-r waves-effect btn red accent-4 red-hover modal-trigger" href="#modal1">Borrar</a>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.idPK, projectID = Model.id_proyectoFK, requirementID = Model.id_requerimientoFK }, new
               {
                   @class = " margin-l waves-effect waves-light btn turq",
                   @id = "edit-btn"
               })
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a href="@Url.Action("Index", new { id = Model.id_requerimientoFK, projectId = Model.id_proyectoFK })" class="btn-floating btn-large black turq-hover left tooltipped"
           data-position="left" data-tooltip="Volver">
            <i class="large material-icons">arrow_back</i>
        </a>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="row">
            <div class="">
                <nav>
                    <div class="nav-wrapper black">
                        <p class="col s4 offset-s5">Quality Expert S.A</p>
                    </div>
                </nav>
            </div>
        </div>

        <div class="modal-content ">
            <div class="row">
                <div class="col s2">
                    <i class="material-icons medium red-text text-darken-4">warning</i>
                </div>
                <div class="s8">
                    <h5>Está seguro que desea <span class="red-text text-darken-4 "> borrar </span> esta prueba ?</h5>
                </div>
            </div>

            <div class="margin-b1">
                <hr />
            </div>
            <div class="modal-footer">

                <a class="modal-close btn red-hover  red accent-4 white-text">Cancelar</a>
                @Html.ActionLink("Aceptar", "RemoveTest", new { id = Model.idPK, project = Model.id_proyectoFK, requirement = Model.id_requerimientoFK }, new { @class = "modal-close btn waves-effect waves-light turq white-text" })

            </div>
        </div>
    </div>
}

@{

    if (User.IsInRole("Cliente"))
    {
        <script>
            document.getElementById("testDetailsOpts").classList.add("hide");
        </script>
    }

}