@model ControlCalidad.Models.Prueba

@*{
        @VewBag.Title = "Edit";
    }*@


@{
    <h3 class="text-grey">Editar Prueba</h3>
    <div class="margin-b1">
        <hr />
    </div>

    <div class="row container">

        <div class="">

            <div class="card hoverable">

                <nav>

                    <div class="nav-wrapper black">

                        <p class="col s4">Quality Expert S.A</p>

                    </div>

                </nav>
                @using (Html.BeginForm("Edit", "Test", FormMethod.Post, new
                {
                    @onSubmit = "onSubmit()",
                   

                }))

                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="margin-b section">
                    </div>

                    <input type="text" value="@Model.idPK" name="idPK" class="hide" />

                    <input type="text" value="@Model.id_proyectoFK" name="id_proyectoFK" class="hide" />

                    <input type="text" value="@Model.id_requerimientoFK" name="id_requerimientoFK" class="hide" />

                    <div class="row">

                        <div class="col s8 offset-s3">

                            <div class="row margin-b">

                                <div class="input-field col s11">
                                    <i class="p-size material-icons text-grey prefix">assignment_ind</i>

                                    <label for="nombre">Nombre de la prueba</label>
                                    <input name="nombre" value="@Model.nombre" type="text" required class="validate form-control" />

                                </div>

                            </div>

                        </div>

                        <div class="col s8 offset-s3">

                            <div class="row margin-b">

                                <div class="input-field col s11">
                                    <i class="p-size material-icons text-grey prefix">info</i>

                                    <select name="resultadoFinal">
                                        <option value="@Model.resultadoFinal" selected>@Model.resultadoFinal</option>
                                        <option value="@Model.resultadoFinal">Seleccione un estado</option>
                                        <option value="Incompleta">Incompleta</option>
                                        <option value="Exitosa">Exitosa</option>
                                        <option value="Fallida">Fallida</option>

                                    </select>

                                </div>

                            </div>

                        </div>

                        <div class="col s8 offset-s3">

                            <div class="row margin-b">

                                <div class="input-field col s11">
                                    <i class="p-size material-icons text-grey prefix">border_color</i>

                                    <label for="detalleResultado">Detalles del resultado</label>
                                    <input name="detalleResultado" value="@Model.detalleResultado" type="text" />

                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="margin-b1">
                    </div>
                    <br />
                    <br />

                    <div class="row center">
                        <!-----
      @Html.ActionLink("Cancelar", "Details", new
      {
         id = Model.idPK,
         projectID = Model.id_proyectoFK,
         requirementID = Model.id_requerimientoFK
      }, new
      {
           @class = "margin-r waves-effect red-hover btn red accent-4"
      }) -->
                        <button type="reset" class="margin-r waves-effect red-hover btn red accent-4">Cancelar</button>
                        <button type="submit" class="margin-l waves-effect waves-light btn turq">Guardar</button>

                        <div class="fixed-action-btn">
                            <a href="@Url.Action("Details", "Test", new { id = @Model.idPK, projectID = @Model.id_proyectoFK, requirementID = @Model.id_requerimientoFK })" class="btn-floating btn-large black tooltipped" data-position="left" data-tooltip="Volver">
                                <i class="large material-icons">arrow_back</i>
                            </a>
                        </div>

                    </div>
                    <br />



                }
            </div>

        </div>

    </div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
