@model IEnumerable<ControlCalidad.Models.Prueba>

@*{
        ViewBag.Title = "Index";
    }*@

@{

    int? projectId = ViewBag.projectId;
    int? requirementId = ViewBag.requirementId;


    <h3 class="text-grey">Pruebas del requerimiento @ViewBag.requirementName </h3>
    <div class="margin-b1">
        <hr />
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large black tooltipped" data-position="left" data-tooltip="Opciones">
            <i class="large material-icons">more_vert</i>
        </a>
        <ul>
            <li>
                <a href="@Url.Action("Index", "Requirement", new { projectId = ViewBag.projectId })" class="btn-floating btn-large black turq-hover tooltipped" data-position="left" data-tooltip="Volver">
                    <i class="large material-icons">arrow_back</i>
                </a>
            </li>
            <li id="testAdd">
                <a href="@Url.Action("Create New", "Test/Create", new
                    {
                        requirementId = requirementId,
                        projectId = projectId,
                    })" class="btn-floating btn-large black turq-hover tooltipped" data-position="left" data-tooltip="Agregar una prueba">
                    <i class="large material-icons">add</i>
                </a>
            </li>

        </ul>
    </div>

    <div class="card">

        <table class="table striped">
            <tr>
                <th class="center black white-text">
                    @Html.DisplayName("Nombre de la prueba")
                </th>
                <th class="center black white-text">
                    @Html.DisplayName("Estado")
                </th>
                <th class="center black white-text">
                    @Html.DisplayName("Acción")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.id_proyectoFK == projectId && item.id_requerimientoFK == requirementId) //Para mostrar las pruebas asociadas a un proy y req especifico
                {
                    <tr>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.resultadoFinal)
                        </td>
                        <td class="center">

                            @Html.ActionLink("Detalles", "Details", new
                       {
                           id = item.idPK,
                           projectID = item.id_proyectoFK,
                           requirementID = item.id_requerimientoFK,
                           reqName = item.Requerimiento.nombre
                       }, new
                       {
                           @class = "waves-effect waves-light btn black turq-hover"
                       })

                        </td>
                    </tr>
                }

            }

        </table>

    </div>

}

@{
    if (User.IsInRole("Cliente"))
    {
        <script>
            document.getElementById("testAdd").classList.add("hide");
        </script>
    }
}


