@model IEnumerable<ControlCalidad.Models.Prueba>

@*{
        ViewBag.Title = "Index";
    }*@

@{

    int? projectId = 1;
    int? requirementId = 1;


    <h3>Pruebas del requerimiento </h3>
    <div class="margin-b1">
        <hr />
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue draken-3 tooltipped" data-position="left" data-tooltip="Opciones">
            <i class="large material-icons">more_vert</i>
        </a>
        <ul>
            <li>
                <a href="@Url.Action("Index", "Requirement", new { projectId = 1 })" class="btn-floating btn-large blue draken-3 turq-hover tooltipped" data-position="left" data-tooltip="Volver">
                    <i class="large material-icons">arrow_back</i>
                </a>
            </li>
            <li id="testAdd">
                <a href="@Url.Action("Create New", "Test/Create", new
                    {
                        requirementId = requirementId,
                        projectId = projectId,
                    })" class="btn-floating btn-large blue draken-3 turq-hover tooltipped" data-position="left" data-tooltip="Agregar una prueba">
                    <i class="large material-icons">add</i>
                </a>
            </li>

        </ul>
    </div>

    <div class="card">

        <table class="table striped">
            <tr>
                <th class="center blue draken-3 white-text">
                    @Html.DisplayName("Nombre de la prueba")
                </th>
                <th class="center blue draken-3 white-text">
                    @Html.DisplayName("Estado")
                </th>
                <th class="center blue draken-3 white-text">
                    @Html.DisplayName("Acción")
                </th>
            </tr>

                    <tr>
                        <td class="center">
                            Test de Funcionalidad
                        </td>
                        <td class="center">
                            Exito
                        </td>
                        <td class="center">

                            @Html.ActionLink("Detalles", "Details", new {}, new
                       {
                           @class = "waves-effect waves-light btn blue draken-3 turq-hover"
                       })

                        </td>
                    </tr>
             

        </table>

    </div>

}



