@{
    ViewBag.Title = "Index";
}

@{ }



    



   
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    

  
<div class="row">
    <!-----------------------------------------------------Sección de botones--------------------------------------------------------------->
    <div class="col s4">
        <div class="card hoverable">

            <nav>
                <div class="nav-wrapper  blue draken-3">
                    <h5 class="col s4">Reportes</h5>
                </div>
            </nav>

            <div class="card-content black-text">
                <div class="row">
                    <div class="col s11">
                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4 turq-hover background-color:grey" name="answer" value="Total Requerimientos" onclick="showProjects1()" style="width: 350px;" />
                            <hr id="barra1" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>


                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover background-color:blue draken-3" name="answer" value="Requerimientos terminados" onclick="showProjects2()" style="width: 350px;" />
                            <hr size="50" id="barra2" style="display:none; border: 2px solid  teal; width:345px;" />

                        </div>


                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover" name="answer" value="Requerimientos en ejecución" onclick="showProjects3()" style="width: 350px;" />
                            <hr size="50" id="barra3" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>


                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover" name="answer" value="Cantidad de requerimientos por tester" onclick="showProjects4()" style="width: 350px;" />
                            <hr size="50" id="barra4" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>


                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover" name="answer" value="Historial de participación" onclick="showProjects5()" style="width: 350px;" />
                            <hr size="50" id="barra5" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>


                        <div class="col s11 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover" name="answer" value="Horas y requerimientos" onclick="showFishedProjectsReqHours()" style="width: 350px;" />
                            <hr size="50" id="barra6" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>


                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover" name="answer" value="Comparación líderes" onclick="showProjects7()" style="width: 350px;" />
                            <hr size="50" id="barra7" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>


                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover" name="answer" value="Resultado de pruebas" onclick="showProjects8()" style="width: 350px;" />
                            <hr size="50" id="barra8" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>

                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover" name="answer" value="Busqueda por habilidades" onclick="showHabilitiesQuery()" style="width: 350px;" />
                            <hr size="50" id="barrah" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>

                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover" value="Horas en requerimientos por tester" onclick="showTesterReqHours()" style="width: 350px;" />
                            <hr size="50" id="testerReqHoursBar" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>

                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover" value="Tester Disponibles" onclick="showProjects9()" style="width: 350px;" />
                            <hr size="50" id="barra9" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>

                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover" name="answer" value="Rendimiento de los lideres" onclick="showProjects10()" style="width: 350px;" />
                            <hr size="50" id="barra10" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>

                        <div class="col s12 margin-b1">
                            <input type="button" class="white-text btn blue draken-4  turq-hover" name="answer" value="Rendimiento de los tester" onclick="showProjects11()" style="width: 350px;" />
                            <hr size="50" id="barra11" style="display:none; border: 2px solid  teal; width:345px;" />
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-----------------------------------------------Sección de resultados---------------------------------------->
    <!--------------Consulta 1: Total de requerimientos------------------------------------>
    <div id="consulta1" style="display:none;" class="col s8">
        <div class="card hoverable">
            <nav>
                <div class="nav-wrapper blue draken-4">
                    <div>
                        <h5 class="col s9">Total de requerimientos en un proyecto</h5>
                    </div>
                </div>
                
            </nav>
        </div>
        <div id="piechart"></div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            // Load google charts
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            // Draw the chart and set the chart values
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Finalizados', 1],
                    ['En Progreso', 2],
                    ['No Iniciado', 2]
                ]);

                // Optional; add a title and set the width and height of the chart
                var options = { 'width': 1500, 'height': 500 };

                // Display the chart inside the <div> element with id="piechart"
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }
        </script>
    </div>

            <!------------------Consulta 2: Requerimientos terminados----------------->
 



</div>

 








@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/materializeD" )
    @Scripts.Render( "~/bundles/bootstrap" )
    @Scripts.Render( "~/bundles/ajax" )
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(showProject4);
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="objects.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        function secondReport() {
            var proy2 = document.getElementById('proy2').value;
            $("#table2").empty();
            $.get("/Reports/CompletedRequirements", { proy: proy2 }, function (data) {
                $.each(data, function (index, v2) {
                    $("#table2").append("<tr><td>" + v2.nombreRequerimiento + "</td><td>" + v2.estadoRequerimiento + "</td><td>" + v2.complejidadRequerimiento + "</td><td>" + v2.nombreResponsable + "</td><tr>");
                });
            });
        }
    </script>
    <script>
        function thirdReport() {
            var proy3 = document.getElementById('proy3').value;
            $("#table3").empty();
            $.get("/Reports/RunningRequirements", { proy: proy3 }, function (data) {
                $.each(data, function (index, v3) {
                    $("#table3").append("<tr ><td>" + v3.nombreReq + "</td><td>" + v3.complejidadReq + "</td><td>" + v3.nombreResp + "</td>");
                });
            });
        }
    </script>
    <script>
        function fourthReport() {
            var proy4 = document.getElementById('proy4').value
            $("#table4").empty();
            $("#chart_div").empty();
            $.get("/Reports/TesterRequirements", { proy: proy4 }, function (data) {
                var table = [['Elemento', 'Cantidad', { role: 'style' }]];
                var temp = "";
                $.each(data, function (index, v4) {
                    $("#table4").append("<tr><td>" + v4.nombreTester + "</td><td>" + v4.nombreR + "</td><td>" + v4.complejidad + "</td><td>");
                    table.push([v4.nombreTester, v4.cantidadReqAsignados, 'blue']);
                    if (temp == "") { temp = v4.nombreTester }
                    else {
                        if (v4.nombreTester == temp) {
                            var ca = table.pop();
                        } else { temp = v4.nombreTester }

                    }

                });
                var data = google.visualization.arrayToDataTable(table);
                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                chart.draw(data);
            });
        }
    </script>
    <script>
        function fifthReport() {
            var tester = document.getElementById('testi').value
            $("#table5").empty();
            $.get("/Reports/ParticipationHistory", { tester: tester }, function (data) {
                $.each(data, function (index, v5) {
                    $("#table5").append("<tr><td>" + v5.proyecto + "</td><td>" + v5.estado + "</td><td>" + v5.Requerimiento + "</td><td>" + v5.estadoReq + "</td><td>" + v5.complejidad + "</td><td>" + dateFormat(new Date(parseInt((v5.fechaInicio).match(/\d+/)[0]))) + "</td><td>" + dateFormat(new Date(parseInt((v5.fechaFinalizacion).match(/\d+/)[0]))) + "</td><td>" + v5.duracionReal + "</td></tr>");
                });
            });
        }

    </script>

    <script>
        function dateFormat(d) {
            console.log(d);
            return ((d.getMonth() + 1) + "").padStart(2, "0")
                + "/" + (d.getDate() + "").padStart(2, "0")
                + "/" + d.getFullYear();
        }
    </script>

                            <script>
                                function leaderStatistics() {
                                    $("#leaderTable").empty();
                                    var leader = document.getElementById('Leader').value
                                    var complexity = document.getElementById('complexity1').value
                                    $.get("/Reports/leaderRequirementsStatistics", { leaderId: leader, complexity: complexity }, function (data) {
                                        $.each(data, function (index, v2) {
                                            var real = v2.duracionReal;
                                            if (real == null) {
                                                real = 0;
                                            }
                                            $("#leaderTable").append("<tr><td class='center'>" + v2.nombre + "</td><td class='center'>" + v2.duracionEstimada + "</td><td class='center'>" + real + "</td><td class='center'>" + (v2.duracionEstimada - real) + "</td><td class='center'>" + v2.estado + "</td></tr>");
                                        });
                                        //showLeaderChart();
                                    });
                                }
                            </script>


                            <script>
                                function leaderStatistics2() {
                                    $("#leaderTable2").empty();
                                    var leader = document.getElementById('Leader2').value
                                    var complexity = document.getElementById('complexity2').value
                                    $.get("/Reports/leaderRequirementsStatistics", { leaderId: leader, complexity: complexity }, function (data) {
                                        $.each(data, function (index, v2) {
                                            var real = v2.duracionReal;
                                            if (real == null) {
                                                real = 0;
                                            }
                                            $("#leaderTable2").append("<tr><td class='center'>" + v2.nombre + "</td><td class='center'>" + v2.duracionEstimada + "</td><td class='center'>" + real + "</td><td class='center'>" + (v2.duracionEstimada - real) + "</td><td class='center'>" + v2.estado + "</td></tr>");
                                        });
                                        //showLeaderChart();
                                    });
                                }
                            </script>

                            <script>


                                // Callback that creates and populates a data table,
                                // instantiates the pie chart, passes in the data and
                                // draws it.
                                function showTesterAvailability() {
                                    $("#avilabilityTable").empty();
                                    var availability = document.getElementById('availability').value
                                    $.get("/Reports/availableTesters", { availability: availability }, function (data) {
                                        $.each(data, function (index, v2) {
                                            var cedula = "";
                                            var nombre = "";
                                            var proyecto = "";
                                            var numero = "";
                                            if (availability == 'Disponible') {
                                                cedula = v2.cedulaPK;
                                                nombre = v2.nombreP;
                                                proyecto = "Sin asignar";
                                                numero = v2.telefono;
                                            } else {
                                                cedula = v2.cedulaPK;
                                                nombre = v2.nombreP;
                                                proyecto = v2.nombre;
                                                numero = v2.telefono;

                                            }
                                            $("#avilabilityTable").append("<tr><td class='center'>" + cedula + "</td><td class='center'>" + nombre + "</td><td class='center'>" + numero + "</td><td class='center'>" + proyecto + "</td></tr>");
                                        });
                                        //showLeaderChart();
                                    });


                                }
                            </script>




                            <script>
                                function showProjects1() {
                                    document.getElementById('barra1').style.display = "block";
                                    document.getElementById('barra2').style.display = "none";
                                    document.getElementById('barra3').style.display = "none";
                                    document.getElementById('barra4').style.display = "none";
                                    document.getElementById('barra5').style.display = "none";
                                    document.getElementById('barra6').style.display = "none";
                                    document.getElementById('barra7').style.display = "none";
                                    document.getElementById('barra8').style.display = "none";
                                    document.getElementById('barra9').style.display = "none";
                                    document.getElementById('barra10').style.display = "none";
                                    document.getElementById('barra11').style.display = "none";
                                    document.getElementById('barrah').style.display = "none";
                                    document.getElementById('consulta1').style.display = "block";
                                    document.getElementById('consulta2').style.display = "none";
                                    document.getElementById('consulta3').style.display = "none";
                                    document.getElementById('consulta4').style.display = "none";
                                    document.getElementById('consulta5').style.display = "none";
                                    document.getElementById('consulta6').style.display = "none";
                                    document.getElementById('consulta7').style.display = "none";
                                    document.getElementById('consulta8').style.display = "none";
                                    document.getElementById('consulta9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('habilitiesQuery').style.display = "none";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";

                                }
                            </script>
                            <script>
                                function showProjects2() {
                                    document.getElementById('barra1').style.display = "none";
                                    document.getElementById('barra2').style.display = "block";
                                    document.getElementById('barra3').style.display = "none";
                                    document.getElementById('barra4').style.display = "none";
                                    document.getElementById('barra5').style.display = "none";
                                    document.getElementById('barra6').style.display = "none";
                                    document.getElementById('barra7').style.display = "none";
                                    document.getElementById('barra8').style.display = "none";
                                    document.getElementById('barra9').style.display = "none";
                                    document.getElementById('barra10').style.display = "none";
                                    document.getElementById('barra11').style.display = "none";
                                    document.getElementById('barrah').style.display = "none";
                                    document.getElementById('consulta1').style.display = "none";
                                    document.getElementById('consulta2').style.display = "block";
                                    document.getElementById('consulta3').style.display = "none";
                                    document.getElementById('consulta4').style.display = "none";
                                    document.getElementById('consulta5').style.display = "none";
                                    document.getElementById('consulta6').style.display = "none";
                                    document.getElementById('consulta7').style.display = "none";
                                    document.getElementById('consulta8').style.display = "none";
                                    document.getElementById('consulta9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('habilitiesQuery').style.display = "none";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";
                                }
                            </script>
                            <script>
                                function showProjects3() {
                                    document.getElementById('barra1').style.display = "none";
                                    document.getElementById('barra2').style.display = "none";
                                    document.getElementById('barra3').style.display = "block";
                                    document.getElementById('barra4').style.display = "none";
                                    document.getElementById('barra5').style.display = "none";
                                    document.getElementById('barra6').style.display = "none";
                                    document.getElementById('barra7').style.display = "none";
                                    document.getElementById('barra8').style.display = "none";
                                    document.getElementById('barra9').style.display = "none";
                                    document.getElementById('barra10').style.display = "none";
                                    document.getElementById('barra11').style.display = "none";
                                    document.getElementById('barrah').style.display = "none";
                                    document.getElementById('consulta1').style.display = "none";
                                    document.getElementById('consulta2').style.display = "none";
                                    document.getElementById('consulta3').style.display = "block";
                                    document.getElementById('consulta4').style.display = "none";
                                    document.getElementById('consulta5').style.display = "none";
                                    document.getElementById('consulta6').style.display = "none";
                                    document.getElementById('consulta7').style.display = "none";
                                    document.getElementById('consulta8').style.display = "none";
                                    document.getElementById('consulta9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('habilitiesQuery').style.display = "none";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";
                                }
                            </script>
                            <script>
                                function showProjects4() {
                                    document.getElementById('barra1').style.display = "none";
                                    document.getElementById('barra2').style.display = "none";
                                    document.getElementById('barra3').style.display = "none";
                                    document.getElementById('barra4').style.display = "block";
                                    document.getElementById('barra5').style.display = "none";
                                    document.getElementById('barra6').style.display = "none";
                                    document.getElementById('barra7').style.display = "none";
                                    document.getElementById('barra8').style.display = "none";
                                    document.getElementById('barra9').style.display = "none";
                                    document.getElementById('barra10').style.display = "none";
                                    document.getElementById('barra11').style.display = "none";
                                    document.getElementById('barrah').style.display = "none";
                                    document.getElementById('consulta1').style.display = "none";
                                    document.getElementById('consulta2').style.display = "none";
                                    document.getElementById('consulta3').style.display = "none";
                                    document.getElementById('consulta4').style.display = "block";
                                    document.getElementById('consulta5').style.display = "none";
                                    document.getElementById('consulta6').style.display = "none";
                                    document.getElementById('consulta7').style.display = "none";
                                    document.getElementById('consulta8').style.display = "none";
                                    document.getElementById('consulta9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('habilitiesQuery').style.display = "none";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";
                                }

                                function showProjects5() {
                                    document.getElementById('barra1').style.display = "none";
                                    document.getElementById('barra2').style.display = "none";
                                    document.getElementById('barra3').style.display = "none";
                                    document.getElementById('barra4').style.display = "none";
                                    document.getElementById('barra5').style.display = "block";
                                    document.getElementById('barra6').style.display = "none";
                                    document.getElementById('barra7').style.display = "none";
                                    document.getElementById('barra8').style.display = "none";
                                    document.getElementById('barra9').style.display = "none";
                                    document.getElementById('barra10').style.display = "none";
                                    document.getElementById('barra11').style.display = "none";
                                    document.getElementById('barrah').style.display = "none";
                                    document.getElementById('consulta1').style.display = "none";
                                    document.getElementById('consulta2').style.display = "none";
                                    document.getElementById('consulta3').style.display = "none";
                                    document.getElementById('consulta4').style.display = "none";
                                    document.getElementById('consulta5').style.display = "block";
                                    document.getElementById('consulta6').style.display = "none";
                                    document.getElementById('consulta7').style.display = "none";
                                    document.getElementById('consulta8').style.display = "none";
                                    document.getElementById('consulta9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('habilitiesQuery').style.display = "none";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";
                                }

                                function showFishedProjectsReqHours() {
                                    document.getElementById('barra1').style.display = "none";
                                    document.getElementById('barra2').style.display = "none";
                                    document.getElementById('barra3').style.display = "none";
                                    document.getElementById('barra4').style.display = "none";
                                    document.getElementById('barra5').style.display = "none";
                                    document.getElementById('barra6').style.display = "block";
                                    document.getElementById('barra7').style.display = "none";
                                    document.getElementById('barra8').style.display = "none";
                                    document.getElementById('barra9').style.display = "none";
                                    document.getElementById('barra10').style.display = "none";
                                    document.getElementById('barra11').style.display = "none";
                                    document.getElementById('barrah').style.display = "none";
                                    document.getElementById('consulta1').style.display = "none";
                                    document.getElementById('consulta2').style.display = "none";
                                    document.getElementById('consulta3').style.display = "none";
                                    document.getElementById('consulta4').style.display = "none";
                                    document.getElementById('consulta5').style.display = "none";
                                    document.getElementById('consulta6').style.display = "block";
                                    document.getElementById('consulta7').style.display = "none";
                                    document.getElementById('consulta8').style.display = "none";
                                    document.getElementById('consulta9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('habilitiesQuery').style.display = "none";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";

                                }

                                function showProjects7() {
                                    document.getElementById('barra1').style.display = "none";
                                    document.getElementById('barra2').style.display = "none";
                                    document.getElementById('barra3').style.display = "none";
                                    document.getElementById('barra4').style.display = "none";
                                    document.getElementById('barra5').style.display = "none";
                                    document.getElementById('barra6').style.display = "none";
                                    document.getElementById('barra7').style.display = "block";
                                    document.getElementById('barra8').style.display = "none";
                                    document.getElementById('barra9').style.display = "none";
                                    document.getElementById('barra10').style.display = "none";
                                    document.getElementById('barra11').style.display = "none";
                                    document.getElementById('barrah').style.display = "none";
                                    document.getElementById('consulta1').style.display = "none";
                                    document.getElementById('consulta2').style.display = "none";
                                    document.getElementById('consulta3').style.display = "none";
                                    document.getElementById('consulta4').style.display = "none";
                                    document.getElementById('consulta5').style.display = "none";
                                    document.getElementById('consulta6').style.display = "none";
                                    document.getElementById('consulta7').style.display = "block";
                                    document.getElementById('consulta8').style.display = "none";
                                    document.getElementById('consulta9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('habilitiesQuery').style.display = "none";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";
                                }
                                function showProjects9() {
                                    document.getElementById('barra1').style.display = "none";
                                    document.getElementById('barra2').style.display = "none";
                                    document.getElementById('barra3').style.display = "none";
                                    document.getElementById('barra4').style.display = "none";
                                    document.getElementById('barra5').style.display = "none";
                                    document.getElementById('barra6').style.display = "none";
                                    document.getElementById('barra7').style.display = "none";
                                    document.getElementById('barra8').style.display = "none";
                                    document.getElementById('barra9').style.display = "block";
                                    document.getElementById('barra10').style.display = "none";
                                    document.getElementById('barra11').style.display = "none";
                                    document.getElementById('barrah').style.display = "none";
                                    document.getElementById('consulta1').style.display = "none";
                                    document.getElementById('consulta2').style.display = "none";
                                    document.getElementById('consulta3').style.display = "none";
                                    document.getElementById('consulta4').style.display = "none";
                                    document.getElementById('consulta5').style.display = "none";
                                    document.getElementById('consulta6').style.display = "none";
                                    document.getElementById('consulta7').style.display = "none";
                                    document.getElementById('consulta8').style.display = "none";
                                    document.getElementById('consulta9').style.display = "block";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('habilitiesQuery').style.display = "none";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";

                                }

                                function showProjects8() {
                                    document.getElementById('barra1').style.display = "none";
                                    document.getElementById('barra2').style.display = "none";
                                    document.getElementById('barra3').style.display = "none";
                                    document.getElementById('barra4').style.display = "none";
                                    document.getElementById('barra5').style.display = "none";
                                    document.getElementById('barra6').style.display = "none";
                                    document.getElementById('barra7').style.display = "none";
                                    document.getElementById('barra8').style.display = "block";
                                    document.getElementById('barra9').style.display = "none";
                                    document.getElementById('barra10').style.display = "none";
                                    document.getElementById('barra11').style.display = "none";
                                    document.getElementById('barrah').style.display = "none";
                                    document.getElementById('consulta1').style.display = "none";
                                    document.getElementById('consulta2').style.display = "none";
                                    document.getElementById('consulta3').style.display = "none";
                                    document.getElementById('consulta4').style.display = "none";
                                    document.getElementById('consulta5').style.display = "none";
                                    document.getElementById('consulta6').style.display = "none";
                                    document.getElementById('consulta7').style.display = "none";
                                    document.getElementById('consulta8').style.display = "block";
                                    document.getElementById('consulta9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('habilitiesQuery').style.display = "none";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";
                                }

                                function showHabilitiesQuery() {
                                    document.getElementById('barra1').style.display = "none";
                                    document.getElementById('barra2').style.display = "none";
                                    document.getElementById('barra3').style.display = "none";
                                    document.getElementById('barra4').style.display = "none";
                                    document.getElementById('barra5').style.display = "none";
                                    document.getElementById('barra6').style.display = "none";
                                    document.getElementById('barra7').style.display = "none";
                                    document.getElementById('barra8').style.display = "none";
                                    document.getElementById('barra9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('barrah').style.display = "block";
                                    document.getElementById('consulta1').style.display = "none";
                                    document.getElementById('consulta2').style.display = "none";
                                    document.getElementById('consulta3').style.display = "none";
                                    document.getElementById('consulta4').style.display = "none";
                                    document.getElementById('consulta5').style.display = "none";
                                    document.getElementById('consulta6').style.display = "none";
                                    document.getElementById('consulta7').style.display = "none";
                                    document.getElementById('consulta8').style.display = "none";
                                    document.getElementById('consulta9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('habilitiesQuery').style.display = "block";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";
                                    
                                }

                                function showProjects10() {
                                    document.getElementById('barra1').style.display = "none";
                                    document.getElementById('barra2').style.display = "none";
                                    document.getElementById('barra3').style.display = "none";
                                    document.getElementById('barra4').style.display = "none";
                                    document.getElementById('barra5').style.display = "none";
                                    document.getElementById('barra6').style.display = "none";
                                    document.getElementById('barra7').style.display = "none";
                                    document.getElementById('barra8').style.display = "none";
                                    document.getElementById('barra9').style.display = "none";
                                    document.getElementById('barra10').style.display = "block";
                                    document.getElementById('barra11').style.display = "none";
                                    document.getElementById('barrah').style.display = "none";
                                    document.getElementById('consulta1').style.display = "none";
                                    document.getElementById('consulta2').style.display = "none";
                                    document.getElementById('consulta3').style.display = "none";
                                    document.getElementById('consulta4').style.display = "none";
                                    document.getElementById('consulta5').style.display = "none";
                                    document.getElementById('consulta6').style.display = "none";
                                    document.getElementById('consulta7').style.display = "none";
                                    document.getElementById('consulta8').style.display = "none";
                                    document.getElementById('consulta9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "block";
                                    document.getElementById('consulta11').style.display = "none";
                                    document.getElementById('habilitiesQuery').style.display = "none";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";
                                    getLeadData();
                                }

                                function showProjects11() {
                                    document.getElementById('barra1').style.display = "none";
                                    document.getElementById('barra2').style.display = "none";
                                    document.getElementById('barra3').style.display = "none";
                                    document.getElementById('barra4').style.display = "none";
                                    document.getElementById('barra5').style.display = "none";
                                    document.getElementById('barra6').style.display = "none";
                                    document.getElementById('barra7').style.display = "none";
                                    document.getElementById('barra8').style.display = "none";
                                    document.getElementById('barra9').style.display = "none";
                                    document.getElementById('barra10').style.display = "none";
                                    document.getElementById('barra11').style.display = "block";
                                    document.getElementById('barrah').style.display = "none";
                                    document.getElementById('consulta1').style.display = "none";
                                    document.getElementById('consulta2').style.display = "none";
                                    document.getElementById('consulta3').style.display = "none";
                                    document.getElementById('consulta4').style.display = "none";
                                    document.getElementById('consulta5').style.display = "none";
                                    document.getElementById('consulta6').style.display = "none";
                                    document.getElementById('consulta7').style.display = "none";
                                    document.getElementById('consulta8').style.display = "none";
                                    document.getElementById('consulta9').style.display = "none";
                                    document.getElementById('consulta10').style.display = "none";
                                    document.getElementById('consulta11').style.display = "block";
                                    document.getElementById('habilitiesQuery').style.display = "none";
                                    document.getElementById('testerReqHoursBar').style.display = "none";
                                    document.getElementById('testerReqHours').style.display = "none";
                                    getTesterData();
                                }

                            </script>





                        }

